.cad-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(rgb(74, 74, 245), rgb(47, 47, 235), rgb(20, 20, 236));
    height: 100vh;
}

.cad-form{
    margin-top: 12%;
    background-color: beige;
    padding: 2rem;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
}

.form-div{
    margin: 1rem;
}

.form-div input{
    width: 50%;
    padding: 0.2rem;
    margin: 0.2rem;
}

.cad-submit{
    width: 150px;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
}

.cad-submit:hover{
    text-decoration: underline;
}