.cad-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(rgb(7, 7, 138), rgb(12, 12, 122), rgb(1, 1, 53));
    height: 100vh;
}

.cad-form{
    margin-top: 12%;
    background-color: rgb(235, 235, 226);
    padding: 2rem;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
}

.form-div{
    margin: 1rem;
}

.form-div input{
    width: 50%;
    padding: 0.2rem;
    margin: 0.2rem;
}

.cad-submit{
    width: 150px;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: #fff;
}

.cad-submit:hover{
    text-decoration: underline;
}