.home-div{
    /*background-color:rgb(1, 1, 53);*/
    background: radial-gradient(rgb(7, 7, 138), rgb(12, 12, 122), rgb(1, 1, 53));
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-image{
    background-image: url("../imgs/imagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
}

.home-conteudo{
    background-color: #ffffffc2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image, .home-conteudo{
    margin-top: 10%;
    height: 50vh;
    width: 30%;
}

.home-login{
    background-color:rgb(31, 101, 167);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.2rem;
}

.home-login h3, input {
    margin: 0.2rem;
}
.home-login h3{
    text-decoration: underline;
}
.cadastrar-btn-div {
   background-color: rgb(31, 101, 167);
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1rem;
   width: 50%;
   height: 10px;
   margin: 2rem;
   border-radius: 1rem;
   color: #fff;
}

.cadastrar-btn-div button {
    width: 50%;
    margin: 0 auto;
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    background-color: rgb(162, 185, 207);
    color: #fff;
    font-weight: bolder;
}
.cadastrar-btn-div button:hover{
    text-decoration: underline;
}

@media (max-width: 580px){
    .container{
        flex-direction: column;
        
    }
    .home-image{
        margin-top: 3rem;
    }
    .home-conteudo{
        margin-top: 0;

    }
    .home-image, .home-conteudo{
        height: 30vh;
        width: 50%;
    }

    .home-login{
        padding: 0.5rem;
        margin: 0.5rem;
        margin-top: 2rem;
    }

    .cadastrar-btn-div button {
        width: 80%;
    }
}