.inicial{
    display: flex;
    background-color: rgb(46, 46, 46);
}
.imagem{
    width: 40%;
    height: 100vh;
    background-image: url("../imgs/imagem.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.conteudo div{
    background-color: #ffffffe7;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.inicial h2{
    margin: 1rem;
    background-color: rgba(165, 164, 164, 0.63);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}
.buttonIniciar{
    padding: 1rem;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: radial-gradient(rgb(23, 201, 233), rgb(54, 191, 255), rgb(23, 167, 233));
    margin: 1rem;

}

.buttonIniciar:hover{
    background: radial-gradient(rgb(23, 167, 233), rgb(54, 191, 255), rgb(23, 201, 233));
}
.dadosDoUsuario h3{
    margin: 0.7rem;
    background-color: rgba(128, 128, 128, 0.53);
    padding: 0.5rem;
    text-decoration: underline;
    border-radius: 0.2rem;
}
.dadosDoUsuario strong{
    color: black;
}
.dadosDoUsuario .maior{
    margin: 0.2rem;
    color: green;
}

.dadosDoUsuario .atual{
    color: red;
}

.buttons-h2Div{
    display: flex;
    flex-direction: column;
    align-items: center;
}